.rodape{
    background-color: var(--cor-branco);
    padding: 1em 0;
    font-family: var(--fonte-principal);
}

.rodape_container{
    background: var(--cor-fundo-degrade);
    padding: 1.3em 0em;
    text-align: center;
}

.rodape_container_titulo{
    color: var(--cor-branco);
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    padding: 1.5em 0.5em;
}

.rodape_container_links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rodape_card_botao{
    font-weight: 500;
    background-color: var(--cor-titulo-primario);
    padding: 1em;
    color: var(--cor-branco);

}

.rodape_container_card{
    padding: 0.5em;
    margin: 0.8em 0 ;
}

.rodape_contato_cadastro{
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.rodape_contato_cadastro_titulo{
    font-weight: 600;
    font-size: 1.25rem;
    background: var(--cor-fundo-degrade);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rodape_contato_cadastro_texto{
    font-weight: 300;
    background: var(--cor-fundo-degrade);
    background-clip: text;  
    -webkit-text-fill-color: transparent;
}

.rodape_contato_cadastro_input{
    border-radius: 24px;
    border: solid 1px var(--cor-texto-alternativo);
    padding: 0.7em 2em;
    color: var(--cor-texto-alternativo);
    margin: 0 1em 1em 1em;
    width: 79%;
}

.rodape_contato_cadastro_input::placeholder{
    background: url("../img/Email.svg") no-repeat;
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1rem;
    color: var(--cor-texto-alternativo);
    padding-left: 2em;
}

.rodape_grupo{
    padding: 1em;
    font-weight: 500;
    background-color: var(--cor-fundo-alternativo);
}

hr{
    background: var(--cor-preto);
    margin: 0;
}

.rodape_lista{
    display: none;
}

.rodape_divisao{
    display: none;
}

@media screen and (min-width: 950px) {
    .rodape_container_links{
        font-size: 1.75rem;
    }

    .rodape_container_titulo{
       font-size: 1.75rem;
    }

    .rodape_contato_cadastro_titulo{
        font-size: 1.75rem;
    }

    .rodape_contato_cadastro_texto{
        font-size: 1rem;
        width: 90%;
    }

    .rodape_card_botao{
        font-size: 1.75rem;
    }

    .rodape_contato_cadastro_input{
        width: 100%;
    }

    .rodape_apresentacao{
        display: flex;
        align-items: center;
        padding: 2em 6em;
        justify-content: center;
    }

    .rodape_grupo{
        display: flex;
        gap: 2em;
        padding: 3em;
        padding-right: 1em;
    }

    .rodape_grupo_titulo{
        font-size: 1.75rem;
    }

    .rodape_lista{
        display: block;
        padding-left: 1.5em;   
    }

    .rodape_lista_titulo{
        padding-bottom: 2em;
        color: #858585;
    }

    .rodape_lista_item{
        display: flex;
        align-items: center;
        gap: 0.4em;
        padding-bottom: 1em;
        color: var(--cor-texto-rodape);
    }

    
}

@media screen and (min-width: 1400px){
    .rodape_container{
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .rodape_container_links{
        width: 70%;
    }

    .rodape_card_botao{
        font-size: 1.6rem ;
    }

    .rodape_grupo{
        padding: 4em;
    }

    .rodape_grupo_titulo{
        padding-right: 2em;
    }

    .rodape_lista{
        padding-right: 5em;
    }

    .rodape_divisao{
        display: block;
    }
}
